:root {
  --primary-color: #e81c4f;
  --secondary-color: #15ab76;
  --positive-color: #4fe81c;
  --hilight-color: #ffd700;
  --common-card-border: #544;
  --unique-card-border: #ddbb00;
  --line-color: rgba(0, 0, 0, 0.2);
  --background-color: #fafaf9;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --text-color: #3d2c29;
  --order-faction-color: #802;
  --chaos-faction-color: #093;
  --shadow-faction-color: #419;
}

body *,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: -0.022em;
}

h5 {
  font-weight: 300;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin-bottom: 1em;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
