.shadowedText {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.positiveText {
  composes: shadowedText;
  color: var(--positive-color);
}

.negativeText {
  composes: shadowedText;
  color: var(--primary-color);
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  perspective: 1000px;
  background: transparent;
  border: 1px solid var(--shadow-color);
  overflow: hidden;
  background: var(--background-color);
}

.cardBack {
  width: 100%;
  height: 100%;
}

.cardHeader {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--line-color);
  color: #fff;
}

.cardTitle {
  top: 0;
  display: flex;
  justify-content: space-between;
}

.cardFooter {
  color: var(--text-color);
  bottom: 0;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--line-color);
}

.cardTypes {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 0.875em;
}

.cardContent {
  color: var(--text-color);
  overflow: auto;
  padding: 0.5em;
  flex-grow: 2;
}

.cardFlavor {
  font-style: italic;
  font-size: 0.875em;
}

.board {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.playerBoard {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.topPlayerBoard {
  composes: playerBoard;
  border-bottom: 1px dashed var(--line-color);
  align-items: flex-end;
  padding-bottom: 2em;
}

.bottomPlayerBoard {
  composes: playerBoard;
  align-items: flex-start;
  padding-top: 2em;
}

.playerHand {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-grow: 2;

  .card {
    margin: 0 -80px;
  }
}

.topPlayerHand {
  composes: playerHand;

  .card {
    position: relative;
    top: -120px;
  }
}

.bottomPlayerHand {
  composes: playerHand;

  .card {
    position: relative;
    bottom: -120px;

    &:hover {
      z-index: 2;
    }
  }
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50em;
  overflow: hidden;
  box-shadow: 2px 2px 2px var(--shadow-color);
  padding: 1em;
  border-radius: 8px;
  background: var(--background-color);
  color: var(--text-color);
  scale: 1;
  z-index: 3;
}

.playerInfo {
  position: fixed;
  left: 8px;
}

.activePlayerInfo {
  font-weight: bold;
}

.topPlayerInfo {
  composes: playerInfo;
  top: 8px;
}

.bottomPlayerInfo {
  composes: playerInfo;
  bottom: 8px;
}

.defaultButton {
  cursor: pointer;
  overflow: hidden;
  padding: 0.5em 2em;
  border-radius: 6px;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
  border-width: 1px;
  border-color: var(--line-color);
  border-bottom-width: 4px;
  border-bottom-color: var(--line-color);
  box-shadow: 2px 2px 2px #777;
}

.positiveButton {
  composes: defaultButton;
  background: var(--secondary-color);
  color: white;
}

.gameButtonWrapper {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.faceDownStack {
  width: 150px;
  height: 210px;
  position: relative;

  .card {
    position: absolute;

    &:hover {
      box-shadow: 1px 1px 1px var(--shadow-color);
    }
  }
}

.inlineBlock {
  display: inline-block;
}

.playerSide {
  height: 50vh;
  display: flex;
  position: fixed;
  left: 8px;
  right: 8px;
  z-index: 3;
}

.topPlayerSide {
  composes: playerSide;
  top: -170px;
  align-items: flex-start;
}

.bottomPlayerSide {
  composes: playerSide;
  bottom: -170px;
  align-items: flex-end;
}

.link {
  cursor: pointer;
  color: var(--primary-color);
}
