.shadowedText {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.positiveText {
  composes: shadowedText;
  color: var(--positive-color);
}

.negativeText {
  composes: shadowedText;
  color: var(--primary-color);
}

.card {
  border-radius: 6px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  overflow: hidden;
  box-shadow: 3px 3px 3px var(--shadow-color);
  border-width: 2px;
  border-style: solid;
}

.commonCard {
  border-color: var(--common-card-border);
}

.uniqueCard {
  border-color: var(--unique-card-border);
}

@keyframes activeGlow {
  from {
    box-shadow: 0 0 2px 2px var(--positive-color);
  }
  to {
    box-shadow: 0 0 5px 5px var(--positive-color);
  }
}

.activeCard {
  cursor: pointer;
  animation-name: activeGlow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cardBack {
  composes: card;
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 10px,
    #999 10px,
    #999 20px
  );
}

.smallCardBack {
  composes: cardBack;
  width: 150px;
  height: 210px;
  box-shadow: 1px 1px 1px var(--shadow-color);
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 5px,
    #999 5px,
    #999 10px
  );
}

.cardHeader {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--line-color);
  color: #fff;
}

.cardTitle {
  top: 0;
  display: flex;
  justify-content: space-between;
}

.smallCard {
  border-width: 1px;
  width: 150px;
  height: 210px;
  font-size: 9.5px;
  box-shadow: 1px 1px 1px var(--shadow-color);
}

.cardFooter {
  color: var(--text-color);
  bottom: 0;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--line-color);
}

.cardContent {
  color: var(--text-color);
  overflow: auto;
  padding: 0.5em;
  flex-grow: 2;
}

.cardFlavor {
  font-style: italic;
}

.board {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.playerBoard {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.topPlayerBoard {
  composes: playerBoard;
  align-items: flex-end;
  padding-bottom: 0.5em;
}

.bottomPlayerBoard {
  composes: playerBoard;
  align-items: flex-start;
  padding-top: 0.5em;
}

.playerHand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 2;

  .card {
    margin: 0 -80px;
    transition: bottom 0.2s;

    &:hover {
      bottom: 170px;
      box-shadow: 5px 5px 5px var(--shadow-color);
    }
  }
}

.topPlayerHand {
  composes: playerHand;

  .card {
    position: relative;
    top: -120px;
  }
}

.bottomPlayerHand {
  composes: playerHand;

  .card {
    position: relative;
    bottom: -120px;

    &:hover {
      z-index: 2;
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 2px var(--shadow-color);
  padding: 1em;
  border-radius: 8px;
  background: var(--background-color);
  color: var(--text-color);
  scale: 1;
  z-index: 6;

  p {
    margin: 0.5rem 0 0;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.playerInfo {
  position: fixed;
  left: 1rem;
  font-weight: 400;
  z-index: 4;
}

.activePlayerInfo {
  font-weight: 700;
}

.topPlayerInfo {
  composes: playerInfo;
  top: 3rem;
}

.bottomPlayerInfo {
  composes: playerInfo;
  bottom: 3rem;
}

.faceDownStack {
  position: relative;
  width: 150px;
  height: 210px;

  .card {
    position: absolute;
  }
}

.inlineBlock {
  display: inline-block;
}

.playerSide {
  height: 50vh;
  display: flex;
  position: fixed;
  left: 8px;
  right: 8px;
  z-index: 3;
}

.topPlayerSide {
  composes: playerSide;
  top: -170px;
  align-items: flex-start;
}

.bottomPlayerSide {
  composes: playerSide;
  bottom: -170px;
  align-items: flex-end;
}

.link {
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  color: var(--primary-color);
}

.cardBrowserModal {
  position: relative;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 820px;
}

.cardBrowseModalFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  backdrop-filter: blur(10px);
}

.cardList {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  flex-grow: 2;
  align-content: center;
}
